/*
 * style.css
 *
 * style sheet for my website
 *
 */

@import url(https://fonts.googleapis.com/css?family=Poppins);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open-Sans', sans-serif;
  color: #ffffffc4;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background: #000000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* any p element should be top margined */
p {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

hr {
  border: none;
  height: 1px;
  background-color: #444;
  margin: 2rem 0;
}

/* Header */
.site-header {
  /* padding: 2rem 2rem 2rem 4rem; More left padding */
  text-align: left; /* Align all header content to the left */
  margin-bottom: 15rem;
}

.main-title {
  color: #ffffff;
  font-size: 2.5rem;
  margin: 0;
}

.sub-title {
  color: #d1d1d1;
  font-size: 1.5rem;
  margin: 0.5rem 0 1.5rem 0;
}

/* Navigation links */
nav .nav-link {
  text-decoration: none;
  color: #ffffff;
  margin-right: 1rem;
}

nav .nav-link:hover {
  text-decoration: underline;
}
